<div class="site-base2" style=background-color:gray>
    <h2 class="site-title">ABOUT</h2>

<app-iseeq-projektor [membersCentered]=true [projektorWidth]="'100%'" [statusBar]=false [startInCenter]=true [startPosition]=5>
        <div iseeqProjektor  proWidth="300"(iamincenter)="elementInCenter($event)">0</div>
        <div iseeqProjektor  proWidth="300">1</div>
        <div iseeqProjektor  proWidth="300">2</div>
        <div iseeqProjektor  proWidth="300">3</div>
        <div iseeqProjektor  proWidth="300">4</div>
        <div iseeqProjektor  proWidth="300" (iamincenter)="elementInCenter($event)">5</div>
        <div iseeqProjektor  proWidth="300">6</div>
        <div iseeqProjektor  proWidth="300">7</div>
        <div iseeqProjektor  proWidth="300">8</div>
</app-iseeq-projektor>

<app-iseeq-flag [active]=activeFlag [texts]=flagTexts></app-iseeq-flag>








</div>

