<div class="site-base2">
    <h2 class="site-title">ABOUT</h2>

    <div class="light-blue">
        <div class=projektor-background>
                       
            <app-iseeq-projektor [membersCentered]=true [projektorWidth]="'99%'" [statusBar]=false [startInCenter]=true [startPosition]="2" buttonSource="/assets/pictures/ikon/arrow-full.svg">
                <app-iseeq-projectable  *ngFor="let flagData of flagDatas; let x = index" (iamincenter)="elementInCenter(x)">
                    <app-iseeq-flag [active]=flagData.active [texts]=flagData.texts [year]=flagData.year></app-iseeq-flag>
                </app-iseeq-projectable>        
            </app-iseeq-projektor>
            
            <div class="flore"><div>
        <div>
    <div>
</div>

