<div class="footer-container">

    <div class="footer-links footer-container-member">
        <a *ngFor="let leftLink of configData?.leftLinks" href="{{leftLink.link}}">{{leftLink.label}}</a><br>
    </div>

    <div class="footer-contacts footer-container-member">
          <h3>IseeQ Kft</h3>
          <span>{{configData?.adress}}</span><br>
          <span>{{configData?.email}}</span>

    </div>

    <div class="footer-socialmedia footer-container-member" >
        
        <a *ngFor="let rightLink of configData?.rightLinks" href="{{rightLink.link}}" target="_blank">
        <div class="socialmedia-link" >
          <img src="{{rightLink.ikon}}"  width="20" height="20" alt="{{rightLink.alt}}">
        </div>
        </a> 

    </div>

</div>