<div class="image">
    <p class="cat visible"  #cat ></p>
    <p class="dog visible"  #dog ></p>

    <div class="coins visible">
        <p class="coin" #coin ></p>
        <p class="coin" #coin2 ></p>
        <p class="coin" #coin3 ></p>
    </div>

    <a href="/game" class="game-button visible">
        <img src="/assets/pictures/home/btn-go.png" alt="link to the game">
    </a>

    <a href="/home/services" class="learn-more visible">...or learn more!</a>
    <span></span>
</div>




<!--
  
    <div class="home-blure">
       <a href="/game">game</a><br>
       <a href="/home/services">services</a>
    </div>  

    <div id="demo">
        <p id="cat" #cat (mouseover)="animateCat()"></p>
        <p id="dog" #dog ></p>
        <div style="display:flex">
        <p class="coin" #coin ></p>
        <p class="coin" #coin2 ></p>
        <p class="coin" #coin3 ></p>
        </div>
    </div>


</div>-->

    
       









