<div class="site-base2">
    <h2 class="site-title">CLIENTS</h2>
    <div class="client-container">
        <app-iseeq-projektor [membersCentered]=true [projektorWidth]=projectorWidth [statusBar]=true [startPosition]="0" 
                              buttonSource="/assets/pictures/ikon/arrow-full_green.svg" statusBarBackgroundColor="lightgray" statusBarColor="#45d48b">
                <app-iseeq-projectable *ngFor="let clientData of clientDatas">
                    <div class="clients-card">
                            
                        <div class="clients-logo">
                            <img [src]=clientData.logoUrl [alt]=clientData.logoAlt>
                        </div>
                
                        <div class="clients-quote">
                            <p>{{clientData.quote}}</p>
                        </div>
                
                        <div class="clients-data">
                
                            <div class="clients-data-picture">
                                <img [src]=clientData.clientPictureUrl [alt]=clientData.clientPictureAlt>
                            </div>
                
                            <div class="clients-data-text">
                                <span class="bold">{{clientData.clientName}}</span><br>{{clientData.clientsPosition}}
                            </div>
                            
                        </div>
                
                    </div>
                </app-iseeq-projectable>
        </app-iseeq-projektor>
    </div>
    <div class="client-cities">
        <img class="cities" src="./assets/pictures/clients/01_budapest.png" alt="Budapest">
        <img class="cities" src="./assets/pictures/clients/02_coppenhagen.png" alt="Coppenhagen">
        <img class="cities" src="./assets/pictures/clients/03_berlin.png" alt="Berlin">
        <img class="cities" src="./assets/pictures/clients/04_amsterdam.png" alt="Amsterdam">
        <img class="cities" src="./assets/pictures/clients/05_paris.png" alt="Paris">
        <img class="cities" src="./assets/pictures/clients/06_hongkong.png" alt="Hon Kong">
    </div>
</div>
