.client-container{
    position: relative;
    display:flex;
    justify-content: center;
}
.clients-card{

}
.clients-logo{

}
.clients-quote{

}
.clients-data{

}
.clients-data-picture{

}
.clients-data-text{
    
}