<div class="site-base2">
    <h2 class="site-title">CLIENTS</h2>
    <div class="client-container">
        <app-iseeq-projektor [membersCentered]=true [projektorWidth]=projectorWidth [statusBar]=true [startPosition]="1" buttonSource="/assets/pictures/ikon/arrow-full_green.svg" >
                <app-iseeq-projectable>
                    <div class="clients-card">
                            111111111111111111 1111111111111111111
                        <div class="clients-logo">
                
                        </div>
                
                        <div class="clients-quote">
                
                        </div>
                
                        <div class="clients-data">
                
                            <div class="clients-data-picture">
                
                            </div>
                
                            <div class="clients-data-text">
                
                            </div>
                            
                        </div>
                
                    </div>
                </app-iseeq-projectable>

                <app-iseeq-projectable>
                    <div class="clients-card">
                            22222222222222222 222222222222222
                        <div class="clients-logo">
                
                        </div>
                
                        <div class="clients-quote">
                
                        </div>
                
                        <div class="clients-data">
                
                            <div class="clients-data-picture">
                
                            </div>
                
                            <div class="clients-data-text">
                
                            </div>
                            
                        </div>
                
                    </div>
                </app-iseeq-projectable>

                <app-iseeq-projectable>
                    <div class="clients-card">
                        3333333333333333 33333333333333333
                        <div class="clients-logo">
                
                        </div>
                
                        <div class="clients-quote">
                
                        </div>
                
                        <div class="clients-data">
                
                            <div class="clients-data-picture">
                
                            </div>
                
                            <div class="clients-data-text">
                
                            </div>
                            
                        </div>
                
                    </div>
                </app-iseeq-projectable>
        </app-iseeq-projektor>
    </div>

    

</div>
