     
    <app-iseeq-services iseeqContentSite *ngIf="navService.componentRemote[0]" [isFirstSite]="true" scrollNavigationParam="/home/services" ></app-iseeq-services>
    <app-iseeq-team     iseeqContentSite  *ngIf="navService.componentRemote[1]" scrollNavigationParam="/home/team"></app-iseeq-team>
    <app-iseeq-about    iseeqContentSite *ngIf="navService.componentRemote[2]" scrollNavigationParam="/home/about"></app-iseeq-about>
    <app-iseeq-clients  iseeqContentSite *ngIf="navService.componentRemote[3]" scrollNavigationParam="/home/clients"></app-iseeq-clients>
    <app-iseeq-news     iseeqContentSite  *ngIf="navService.componentRemote[4]" scrollNavigationParam="/home/news"></app-iseeq-news>
    <app-iseeq-contact  iseeqContentSite *ngIf="navService.componentRemote[5]" scrollNavigationParam="/home/contact"></app-iseeq-contact>
    




