<div class="base-card" (mouseenter)="onmouseenter()" (mouseleave)="onMouseLeave()">
    <div [class]="animTrigger">
        <div class="card-top1"></div>
        <div class="card-top2"></div>
        <div class="card-border"> 
            <div class="white-corner-left"></div>
            <div class="white-corner-right"></div>
            <div class="card-background" >
                
                <div [style.visibility]="frontContentVisibility" class="front-content">
                    <img  [src]=teamMember.profilePicture [alt]=teamMember.pictureAlt>
                </div>

                <div [style.visibility]="backContentVisibility"class="back-content" >
                    <p class="member-name">{{teamMember.name}}</p>
                    <p class="member-position">{{teamMember.position}}</p>

                    <div class="ikon-container">
                    <div class="ikon" *ngFor="let contact of teamMember.contacts">
                        <a [href]=contact.link>
                          <img class="ikon-img" [src]=contact.ikon width="20" height="20" [alt]=contact.alt>
                        </a>
                    </div>
                    </div>    
                </div>
            
            </div>
        </div>
        <div class="bord-bottom"></div>
    </div>
</div>