@keyframes rotate {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}

@keyframes rotateback {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
}
.card{
    height:430px;
    width:260px;
} 
  
.card_on{
    height:430px;
    width:260px;
    animation-name: rotate;
    animation-duration: 1s;
    transform: rotateY(180deg);
}

.card_off{
    height:430px;
    width:260px;
    animation-name: rotateback;
    animation-duration: 1s;
}
.front-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:430px;
}
.back-content{
    position: absolute;
    top:100px;
    right:0px;
    transform: rotateY(180deg);
    width:100%;
    text-align: center;
}

.ikon-container{
     display:flex;
     justify-content: center;
     align-items: center;
}
.ikon{
    background-color: #319662;
    cursor: pointer;
    margin-right:10px;
    width:35px;
    height:30px;
    padding-top:2px;
}

.ikon:hover{
    box-shadow: 3px 3px darkgreen;
    -ms-transform: translate(-3px,-3px);
    -webkit-transform: translate(-3px,-3px);
    transform: translate(-3px,-3px);
}

.ikon-img{
    margin:5px;
}

.member-name{

}

.member-position{
    
}