<div #siteBase class="site-base" (mouseenter)="onmouseenter()" (mouseleave)="onMouseLeave()">
    <h1 class="site-title">TEAM</h1>

    <div class="card-container">

        <flip-card-component *ngFor="let teamMember of teamMembers" [teamMember]="teamMember"  ></flip-card-component>

                                <!--BLANK CARD-->
        <div class="base-card">
           <div class="card-top1"></div>
            <div class="card-top2"></div>
            <div class="card-border"> 
                <div class="white-corner-left"></div>
                <div class="white-corner-right"></div>
                <div class="card-background" style="background-color: white" >
                    <div class="blank-card">
                        <h3>JOIN OUR TEAM!</h3>
                        <p>info@iseeq.co</p>         
                     </div>
                </div>
            </div>
            <div class="bord-bottom"></div>
        </div>
                                <!--*******-->
    </div>

</div>