.card-border{
    width:300px;
    height:500px;
    position: relative;
    background-color: #fbba00;
    border-bottom: 10px solid #ff7e00;
    box-sizing: border-box;
}

.card-background{
    width:280px;
    height:480px;
    position:absolute;
    top:10px;
    left:10px;
    background-color: #45d48b
}

.white-corner-left{
    position: absolute;
    top:0px;
    left:0px;
    width:10px;
    height:10px;
    background-color: white;
}
.white-corner-right{
    position: absolute;
    top:0px;
    right:0px;
    width:10px;
    height:10px;
    background-color: white;
}

.bord-bottom{
    position: initial;
    width:300px;
    height:10px;
    background-color:#fbba00 
}