.router-anim-io{
    -webkit-animation-name: router; 
    -webkit-animation-duration: 1s; 
    animation-name: router;
    animation-duration: 1s;
}

@-webkit-keyframes router {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0.7;}
    100% {opacity: 1;}
    
}

@keyframes router {
    0%   {opacity: 0;}
    25%  {opacity: 0;}
    50%  {opacity: 0;}
    75%  {opacity: 0.7;}
    100% {opacity: 1;}
}

