.flag-container{
    padding-top:60px;
    display:flex;
    width:350px;
    margin:10px;
    height:400px;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
                                 
}

h1{
    position: relative;
}

ul{
    list-style-type:none;
    position:relative;
    padding:0px;
    
}

li{display: flex}

.list-decorator{
    min-width:7px;
    height: 7px;
    display:inline-block;
    margin-top:7px;
    margin-right:5px;
}

.li-text{
    display: inline-block;
}

.a{
    color:inherit;
    text-decoration: underline;
}

.flag{
  position: relative;
  height:400px;
}

@media screen and (max-width: 600px) {
  .flag-container{
    width:250px;
  } 
}
