h1{
    color: black;
}

.flag-container{
    display:flex;
    width:350px;
    color:black;
    border:1px solid black;
}

.flag-img-cont{
   
    border:2px solid pink;
}

.flag-text-con{
   
}
ul{
    list-style-type:none;
    position:relative;
    top:40px;
    padding:0px;
    
}
li{display: flex}

.list-decorator{
    min-width:7px;
    height: 7px;
    background-color: lightblue;
    box-shadow: 1px 2px black;
    display:inline-block;
    margin-top:5px;
    margin-right:5px;
}

.test{
    display: inline-block;
}

.flag{
  position: relative;
  border: 1px solid black;
  height:450px;
}
.passive-flag{
   
}

.active-flag{
   
    bottom:40px;
    
    

}

