<div #flagContainer class="flag-container" [style.color]=" active ? 'white': '#337ab7' "alt="flag">
  <div class="flag-img-cont">
      <img class=flag [src]=visiblePicture [style.bottom]=" active ? '30px': '-5px' "alt="flag">
  </div>

  <div>
    <h1  [style.bottom]=" active ? '30px':'0px' ">{{flagYear}}</h1>
      <ul  [style.bottom]=" active ? '30px':'0px' "> 

        <li *ngFor="let text of texts" >
            <div class="list-decorator" [ngStyle]="{'background-color': active ? 'white' : '#337ab7','box-shadow':active ? '1px 2px #337ab7' : 'none'}"></div>
            <div class="li-text">
             <span [innerHTML]=text></span><br>
            </div>
        </li>

      </ul>
  </div>

</div>



