.flag-container{
    display:flex;
    width:350px;
    border:1px solid black;
    margin:10px;
    height:400px;
}

.flag-img-cont{
   border:2px solid pink;
}

h1{
    position: relative;
}

ul{
    list-style-type:none;
    position:relative;
    padding:0px;
    
}
li{display: flex}

.list-decorator{
    min-width:7px;
    height: 7px;
    display:inline-block;
    margin-top:7px;
    margin-right:5px;
}

.li-text{
    display: inline-block;
}

.a{
    color:inherit;
    text-decoration: underline;
}

.flag{
  position: relative;
  border: 1px solid black;
  height:400px;
}

@media screen and (max-width: 600px) {
  .flag-container{
    width:250px;
  } 
}
