.projektor-window{
    position:relative;
    padding: 5px; 
    border:2px solid green;
    width:50%;
    overflow: hidden; 
}
.about-scrollable{
    display:flex;
    position: relative;
    flex-wrap: nowrap;
    border:2px solid red;
    overflow-x:visible;
    cursor:grab;
}

