.projektor-window{
    position:relative;
    border:2px solid green;
    overflow: hidden;
}

.about-scrollable{
    display:flex;
    position: relative;
    flex-wrap: nowrap;
    border:2px solid red;
    overflow-x:visible;
    cursor:grab;
}
.status-bar{
    position: relative;
    display: flex;
    justify-content: center;    
}
.status-bar-item{
    width:10px;
    height: 10px;
    margin:5px; 
}

.step-button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.step-button>img{
    margin-left:15%;
    margin-right:15%;
    height:35px;
    width:35px;
}

.rotate{
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}