.projektor-window{
    position:relative;
    overflow: hidden;
}

.about-scrollable{
    display:flex;
    position: relative;
    width:100%;
    flex-wrap: nowrap;
    overflow-x:visible;
    cursor:grab;
    transition: all 0.2s ease;
    
}
.status-bar{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.status-bar-item{
    width:10px;
    height: 10px;
    margin:5px; 
}

.step-button{
    width:100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.step-button>img{
    margin-left:15%;
    margin-right:15%;
    height:35px;
    width:35px;
}

.img-1{
    cursor: pointer;
    height:35px;
    width:35px;
    position:absolute;
    top:50%;
    left:2%;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.img-2{
    cursor: pointer;
    float: right;
    height:35px;
    width:35px;
    position:absolute;
    top:50%;
    right:2%;
}

@media screen and (max-width: 600px) {
    .about-scrollable{
        transition:none;
        
    }
  }