<div [@menuIn] class="menu-container" *ngIf="!isMobileView && isMenuVisible">

    <div class="menu-logo-container">
        <img src="./assets/pictures/logo/iseeq-logo_kicsi2.png " alt="iseeq logo">
    </div>

    <div class="menu-link-container">
        <a *ngFor="let menuitem of menuItems" routerLink="/{{menuitem.menuItem.toLowerCase()}}" routerLinkActive="active-link">{{menuitem.menuItem}}</a>
    </div>

</div>



<div [@menuIn] class="menu-container-s" *ngIf="isMobileView && isMenuVisible">
    <div class="menu-flex-container-s">

        <div class="menu-logo-container-s">
            <img src="./assets/pictures/logo/iseeq-logo_kicsi2.png " alt="iseeq logo">
        </div>

        <div class="menu-control-s">
            <mat-icon (click)="openCloseSMenu()">{{sMenuIcon}}</mat-icon>
        </div>
            
    </div>
    
    <div [@isOpen]="isSMenuOpen" class="menu-link-container-s">
        <a *ngFor="let menuitem of menuItems" routerLink="/{{menuitem.menuItem.toLowerCase()}}" routerLinkActive="active-link">{{menuitem.menuItem}}</a>
    </div>

</div>

