<div class="site-base">
    <h2 class="site-title">SERVICES</h2>
    

<div class="services-container">

            <div class="services-collum">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>

            <div class="services-collum">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>

            <div class="services-collum">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>



</div>

<h2 class="alcim">jkhkjahjk jsdfhas jfljk lkjfkasdj lkj fasd flkdjf</h2>


<div class="services-container2">

            <div class="services-collum2">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>

            <div class="services-collum2">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>

            <div class="services-collum2">
                <div class="services-collum-picture"></div>
                <div class="services-collum-title"></div>
                <div class="services-collum-text"></div>
                <div class="services-collum-button"></div> 
            </div>



</div>

</div>

