.services-container{
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}

.services-collum{
    margin:20px;
    width:300px;
    height:450px;
    border:2px solid blue;
}

.alcim{
    font-size:25px;
    text-align: center;
}

.services-container2{
    display: flex;
    justify-content: center;
    margin-top:20px;
    margin-bottom:20px;
}

.services-collum2{
    position: relative;
    margin:20px;
    width:350px;
    height:500px;
    background-color: #45d48b;
}
.dekoration{
    background-color:#319662;
    width:10px;
    height:10px;
}